[submodule "submodules/diff-gaussian-rasterization"]
	path = submodules/diff-gaussian-rasterization
	url = https://github.com/graphdeco-inria/diff-gaussian-rasterization.git
[submodule "submodules/tiny-cuda-nn"]
	path = submodules/tiny-cuda-nn
	url = https://github.com/NVlabs/tiny-cuda-nn.git
